/// Root Styles file
/// Here we define all the root variables we need for our project.
/// For examples see Material Design color system: https://m2.material.io/design/color/the-color-system.html

:root {
    --primary-color: #fff;
    --text-color: #000;
    --card1-color: #E5EFE2;
    --card2-color: #E4E9F3;
    --card3-color: #F4F1E4;
    --blue-color: #3D63AC;
    --green-color: #428A2F;
    --yellow-color: #B09E3D;
}