/// Homepage Styles File
/// Here we import all the Styles files we need for our Homepage.
/// 

#home-page{  
    max-width: 1136px;  
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px;
    margin: 0 auto;    
    background: var(--primary-color);   
}

a{
    text-decoration: none;
}

.card{
    border-radius: 12px;
    padding: 32px;
    display: flex;
    flex-direction: column;

    &__icon-container{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 72px;
        height: 72px;
        border-radius: 50%;
        & > img{
            width: 40px;
            height: 40px;
        }

    }

    &__title{
        font-size: 32px;
        font-weight: 700;
        margin-top: 24px;
        margin-bottom: 0;
        letter-spacing: -1.6px;
        
    }

    &__content{
        font-size: 16px;
        line-height: 1.4;
        letter-spacing: -0.6px;
        margin-bottom: 24px;
        
    }
    

    &:nth-child(1){
        background-color: var(--card1-color);
        .card__icon-container{
            background-color: var(--green-color);
        }
    }
    &:nth-child(2){
        background-color: var(--card2-color);
        .card__icon-container{
            background-color: var(--blue-color);
        }
    }
    &:nth-child(3){
        background-color: var(--card3-color);
        .card__icon-container{
            background-color: var(--yellow-color);
        }
    }
}

.button{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border: none;
    border-radius: 200px;
    font-size: 12px;
    line-height: 1.5;
    padding: 14px 24px;
    margin-right: auto;
    margin-top: auto;
    cursor: pointer;
    background-color: #ffffff;

    &:hover{
        transition: all linear 0.2s;
        color: #001AFF;
    }

    &:active{
        transition: all linear 0.2s;
        background-color: #F1F5FF;
    }

}


@media (max-width: 1150px){
    #home-page{
        grid-template-columns: 1fr;
    }

    .card{
        padding: 24px;

        &__title{
            margin-top: 16px;
            font-size: 26px;
        }

        &__content{
            margin-top: 8px;
            margin-bottom: 16px;
        }
    }
}

@media (max-width: 480px){
    .card{
        padding: 24px 16px;

        &__title{
            line-height: 1.2;
        }

        &__content{
            font-size: 14px;
            line-height: 1.5;
        }

        &__icon-container{
            width: 48px;
            height: 48px;
            & > img{
                width: 24px;
                height: 24px;
            }
        }
    }
}